@media (max-width: 1230px) {
  .bottom-menu__wrapper.second-wrapper {
    margin-right: 0;
  }
}

@media (max-width: 1144px) {
  .header__logo {
    display: none;
  }

  .header__nav {
    margin-right: 34px;
  }

  .header__logo-top {
    max-width: 112px;
    display: flex;
    padding: 23px 0;
  }

  .nav__item:last-child {
    margin-right: 0;
  }

  .searchbar__icon {
    margin-right: 27px;
  }

  .header__img {
    position: absolute;
    background-color: #F2F2F2;
    height: 61px;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .header::before {
    top: 140px;
  }

  .login__btn {
    padding: 9px 29px;
  }

  .nav__item:not(:last-child) {
    margin-right: 59px;
}


  .bottom-menu__item {
    padding: 22px 0;
  }

  .bottom-menu__item:not(:last-child) {
    margin-right: 28px;
  }

  .bottom-menu__item:last-child {
    margin-right: 35px;
  }

  .bottom-menu__wrapper {
    margin-right: 0;
    padding-right: 18px;
    padding-left: 20px;
  }

  .hero__right {
    background-image: url(../img/microphone-1024.jpg);
    background-size: 256px;
  }

  .hero__title {
    margin-bottom: 12px;
  }

  .hero__content {
    padding-bottom: 90px;
  }

  .hero__descr {
    padding-right: 15px;
    margin-bottom: 21px;
  }

  .hero__img {
    max-width: 260px;
    padding-bottom: 20px;
    padding-top: 0;
  }

  .podcasts__title {
    margin-bottom: 27px;
  }

  .podcasts__list {
    margin-bottom: 26px;
  }

  .podcasts__img {
    width: 158px;
  }

  .podcasts__top {
    padding: 25px 30px 22px 29px;
}

  .podcasts__bottom {
    padding: 7px 30px;
  }

  .broadcasts__author {
    margin-bottom: 223px;
  }

  .broadcasts__item:not(:nth-child(2n)) {
    margin-right: var(--gap);
  }

  .broadcasts__item:nth-child(2n) {
    margin-right: 0;
  }

  .broadcasts {
    padding-bottom: 80px;
  }

  .broadcasts__img {
    padding-top: 14.5px;
  }

  .guests__right {
    max-width: 255px;
  }

  .guests__left {
    margin-right: 30px;
  }

  .content.ac-panel {
    max-height: 203px;
  }

  .content-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .guests {
    padding-bottom: 96px;
  }

  .guests__descr-bottom {
    padding-right: 285px;
  }

  .guests__img {
    max-width: 255px;
    margin-bottom: 10px;
  }

  .playlists__container {
    flex-direction: column;
  }

  .playlists__left-body {
    max-width: 100%;
    margin-bottom: 8px;
  }


  .check {
    max-width: 324px;
    column-count: 2;
  }

  .check__container {
    white-space: nowrap;
    max-width: fit-content;
    justify-content: flex-start;
  }

  .left-body__text {
    padding-top: 38px;
    display: none;
  }

  .playlists {
    padding-bottom: 89px;
  }

  .bottom-text {
    display: block;
  }

  .playlists__flag {
    left: 0;
  }
  
  .playlists__item {
    width: calc((100% - var(--gap) * 2) / 3);
  }

  .playlists__item:not(:nth-child(3n)) {
    margin-right: var(--gap);
  }

  .playlists__item:nth-child(3n) {
    margin-right: 0;
  }

  .playlists__list {
    margin-bottom: 15px;
  }

  .playlists__link {
    display: flex;
  }

  .playlists__img {
    width: 210px;
  }

  .playlists__right-body {
    padding: 0;
  }

  .playlists__text {
    width: 100%;
    padding: 0;
    padding-left: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .broadcasts__item {
    width: calc((100% - 30px) / 2);
  }

  .product {
    padding-bottom: 94px;
  }

  .product__left-body {
    margin-right: 30px;
  }

  .product__descr1 {
    padding-right: 10px;
  }

  .product__img {
    min-height: 597px;
    max-width: 397px;
  }

  .product__logo {
    max-width: 100px;
    top: 118px;
  }

  .about-us__first-svg {
    display: none;
  }

  .swiper__img {
    width: 100%;
  }

  .about-us__swiper {
    margin-bottom: 36px;
  }

  .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 44.3%);
  }

  .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 44.3%);
  }

  .footer__nav {
    column-gap: 94px;
  }

  .footer__container {
    padding-bottom: 0;
    margin-bottom: 70px;
  }

  .about-us__input {
    margin-bottom: 28px;
  }
}

@media (max-width: 1068px) {
  .bottom-menu__img {
    display: none;
  }
  
}

@media (max-width: 943px) {

  .header__nav .nav__list{
    display: grid;
    grid-template-columns: repeat(2, 125px);
}

.header__nav {
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 120px 71px 83px 61px;
    width: 100%;
    min-width: 420px;
    height: 100vh;
    background-color: #F2F2F2;
    z-index: 1000;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.header__nav--active {
  background: url(../img/burger-spiral.svg) repeat 55px, url(../img/burger-spiral.svg) repeat, #F2F2F2;
  background-repeat: no-repeat;
  background-position-x: 300px, 430px;
  background-position-y: 166px, 0px;
  visibility: visible;
  transform: none;
}

.stop-scroll {
    overflow: hidden;
}

.nav__item:not(:last-child) {
    margin: 0;
    margin-bottom: 64px;
}

  .header__top {
    padding: 20px 0;
  }

  .hero__right {
    display: none;
  }

  .bottom-menu__item:not(:last-child) {
    margin-right: 28px;
  }

  .bottom-menu__list {
    margin-right: auto;
  }

  .bottom-menu__wrapper {
    display: none;
  }

  .bottom-menu__play {
    display: flex;
    align-items: center;
  }

  .bottom-menu__play svg{
    fill: #A1A6B4;
  }

  .bottom-menu__play path{
    fill: #fff;
  }



  .burger {
    position: relative;
    width: 30px;
    height: 24px;
    margin-right: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.burger__line {
    position: absolute;
    height: 3px;
    width: 24px;
    background-color: #6D31EE;
    left: 0;
}

.burger:focus-visible:not(:active) {
    outline: 2px solid #6D31EE;
    outline-offset: 3px;
}

.burger:hover .burger__line {
    background-color: #6D31EE;
    outline: none;
}

.burger:active .burger__line {
    background-color: #6D31EE;
    outline: none;
}

.burger__line:nth-child(1) {
    top: 0px;
}

.burger__line:nth-child(3) {
    bottom: 0;
}

.burger__line:nth-child(2) {
    top: 10.5px;
}

.burger--active {
    z-index: 11111111;
}

.burger--active .burger__line:nth-child(2) {
    opacity: 0;
}

.burger--active .burger__line:nth-child(1) {
    top: 50%;
    left: 0;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active .burger__line:nth-child(3) {
    bottom: auto;
    top: 50%;
    left: 0;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
}

.header__top {
  padding: 23px 0;
}

.login__btn {
  padding: 9px 32px;
}

.bottom-menu__item:not(:last-child) {
  margin-right: 29px;
}

.podcasts__item {
  margin: 0;
  width: 100%;
}

.podcasts__img {
  width: 142px;
}

.podcasts__list {
  gap: 29px;
  margin-bottom: 60px;
}

.podcasts__title {
  margin-bottom: 28px;
}

.podcasts__bottom {
  padding: 8px 30px;
}

.podcasts__item:not(:nth-child(2n)) {
  margin-right: 0;
}

.broadcasts {
  padding-bottom: 7px;
}

.broadcasts__left-body {
  margin-bottom: 30px;
}

.broadcasts__mic {
  height: 95px;
  margin-right: 23px;
}

.broadcasts__container {
  display: block;
}

.broadcasts__author {
  margin-bottom: 0;
}

.broadcasts__list {
  margin-bottom: 49px;
}

.broadcasts__archive {
  display: none;
}

.broadcasts__archive-bottom {
  padding-top: 30px;
  max-width: 340px;
  display: flex;
  margin: 0 auto;
}

.broadcasts__btn {
  margin-bottom: 8px;
}

.broadcasts__archive-wrapper {
  display: flex;
  flex-direction: column;
}

.guests__bio {
  flex-direction: column;
}

.guests__list {
  margin-bottom: 50px;
}

.guests__left {
  margin-right: 0;
}

.guests__descr-bottom {
  padding-right: 0;
}

.guests__bio-link {
  margin-bottom: 30px;
}

.guests__img {
  max-width: 100%;
}

.guests__right {
  max-width: 100%;
}

.content.ac-panel {
  max-height: 260px;
}

.content-wrap {
  padding: 30px 0;
}

.check {
  max-width: 350px;
}

.social__list {
  margin-bottom: 4px;
}

.guests__about {
  padding-right: 140px;
}

.guests {
  padding-bottom: 94px;
}

.check {
  max-width: 322px;
}

.check__container:not(:last-child) {
  margin-bottom: 40px;
}

.playlists {
  padding-bottom: 86px;
}

.playlists__left-body {
  margin-bottom: 22px;
}

.playlists__item {
  margin-bottom: 29px;
  width: calc((100% - var(--gap)) / 2);
}

.playlists__item:not(:nth-child(2n)) {
  margin-right: var(--gap);
}

.playlists__item:nth-child(2n) {
  margin-right: 0;
}

.playlists__link::after {
  top: 28px;
  left: 28px;
}

.playlists__img {
  height: 100%;
}

.product {
  padding-top: 0;
}

.product__logo {
  max-width: 159px;
  top: 55px;
}

.product__container {
  flex-direction: column;
}

.product__img {
  min-height: 574px;
  max-width: 540px;
}

.product__title {
  padding-right: 65px;
}

.product__line {
  margin-bottom: 9px;
  width: 100%;
}

.product__descr1 {
  padding-right: 0;
}

.about-us__text {
  margin-right: 0;
}

.second-descr {
  margin-bottom: 29px;
}

.about-us__descr.first-descr {
  width: 100%;
}

.about-us__top {
  flex-direction: column;
}

.about-us__right-body {
  position: relative;
  justify-content: flex-end;
}

.about-us__spiral {
  position: absolute;
  left: -112px;
  background-image: url(../img/about-us-spiral-540.svg);
  background-repeat: no-repeat;
  height: 112px;
  width: 100%;
}

.about-us__second-svg {
  background-image: url(../img/star-540.svg);
  max-width: 112px;
  min-height: 112px;
  background-size: cover;
}

.about-us__inputs {
  flex-direction: column;
}

.about-us__input {
  width: 100%;
}

.footer__social svg{
  width: 32px;
  height: 32px;

}

.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 46.3%);
}

.swiper-button-prev {
  top: var(--swiper-navigation-top-offset, 46.3%);
}

.about-us__swiper {
  margin-bottom: 30px;
}

.footer__container {
  flex-direction: column;
  align-items: center;
}

.footer__left-body {
  align-items: center;
  margin-bottom: 76px;
}

.footer__container {
  margin-bottom: 52px;
}

.footer__nav {
  max-width: 544px;
  column-gap: 168px;
}

.footer__list {
  margin-bottom: 28px;
}

.footer__descr {
  padding: 10px 0;
}

}

@media (max-width: 659px) {
  .header__logo-top {
    max-width: 87px;
  }
  
  .section-offset {
    padding: 54px 0;
  }
  
  .header__img {
    height: 54px;
  }

  .login__btn {
    position: absolute;
    top: -46px;
    right: 2px;
    padding: 7px 23px;
  }

  .header__top {
    padding: 9px 0;
  }

  .header__ac-panel {
    height: 0;
    max-height: 173px;
    overflow: hidden;
    color: #000000;
}


  .searchbar__icon {
    margin-right: 0;
  }

  .header__bottom {
    padding: 8px 0;
  }

  .header::before {
    top: 104px;
  }

  .header__ac {
   padding: 2px 35px;
    display: block;
  }

  .header__ac-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #6D31EE;
  }

  .hero__content {
    padding-top: 42px;
    padding-bottom: 40px;
  }

  .header__nav {
    padding-top: 120px;
    padding-left: 30px;
    min-width: 100%;
  }

  .nav__list {
    padding: 0;
  }

  .nav__item:not(:last-child) {
    margin: 0;
    margin-bottom: 40px;
}

  .bottom-menu__list {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 120px);
    background-color: white;
    width: 100%;
    height: 50vh;
    z-index: 10000;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    left: 0px;
    top: 300px;
    visibility: hidden;
    overflow-y: auto;
    transform: translateX(-120%);
    transition: transform 0.3s ease-in-out;
  }

  .bottom-menu__play {
    display: none;
  }

  .bottom-menu__list--active {
    transform: none;
    visibility: visible;
  }

  .content {
    height: 0px;
    overflow: hidden;
    color: #000000;
  }
  
  .header__ac-content {
    display: flex;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    transition-delay: 0.3s;
  }

  .bottom-menu__item:not(:last-child) {
    margin-right: 0;
  }
  
  .is-active .header__ac-content {
    cursor: default;
    opacity: 1;
    visibility: visible;
  }

  .is-active svg {
    transform: none; 
}

.hero__title {
  font-size: 32px;
  margin-bottom: 6px;
}

.hero__descr {
  margin: 0;
  font-size: 14px;
  margin-bottom: 20px;
  padding-right: 0;
}

.hero__btn {
  max-width: 200px;
  padding: 17px 45px;
  font-size: 16px;
  line-height: 16px;
}

:root {
  --gap: 24px;
}

.podcasts__title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 100%;
}

.podcasts__item {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.podcasts__img {
  width: 100%;
}

.podcasts__title {
  margin-bottom: 20px;
}

.podcasts__item:nth-child(n+5) {
  display: none;
}

.podcasts__item .podcasts__item-visible {
  display: flex;
}

.podcasts__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.podcasts__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.podcasts__top {
  padding: 16px 10px 16px 16px;
}

.podcasts__date {
  top: 0; 
  left: 0;
  height: 16px;
}

.podcasts__bottom {
  padding: 6px 17px;
}

.podcasts__btn {
  min-width: 170px;
  padding: 17px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.podcasts__list {
  margin-bottom: 30px;
}

.broadcasts__title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 100%;
}

.broadcasts__form label {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.broadcasts__list {
  margin-bottom: 30px;
}

.broadcasts__item {
  margin-bottom: 0;
  max-width: calc((100% - 30px) / 2);
}

.broadcasts__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.broadcasts__name {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

.broadcasts__descr {
  margin-bottom: auto;
  font-weight: 400;
  font-size: 9px;
  line-height: 9px;
}

.broadcasts__link {
  position: absolute;
  bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.broadcasts__text {
  position: relative;
  height: 100px;
  padding: 10px;
}

.broadcasts__btn-descr {
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.broadcasts__btn {
  max-width: 110px;
  padding: 9.5px 31px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.broadcasts__archive-wrapper {
  flex-direction: column-reverse;
}

.broadcasts__mic {
  margin-right: 13px;
}

.guests__title {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

.guests__descr-top {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}

.choices {
  margin-bottom: 30px;
}

.broadcasts__archive-bottom {
  padding-top: 29px;
  border-top: 1px solid #E6E8EC;
}

.guests__descr-bottom {
  margin-bottom: 30px;
  padding-right: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.guests-svg {
  width: 30px;
  height: 30px;
}

.guests__left {
  margin-right: 0;
}

.guests__link {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.guests__bio-link {
  white-space: inherit;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
}

.content-wrap {
  grid-template-columns: repeat(2, 1fr);
}

.playlists__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

.check__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.check {
  display: none;
}

.playlists__link {
  flex-direction: column;
}

.playlists__text {
  padding: 10px;
  min-width: 100%;
}

.playlists__flag {
  left: inherit;
  right: 0;
}

.playlists__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

.playlists__item-descr {
  font-weight: 400;
  font-size: 9px;
  line-height: 9px;
}

.left__body-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.left__body-descr2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.product__img {
  max-width: 256px;
  min-height: 225px;
}

.product__left-body {
  margin-right: 0;
}

.product__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

.product__descr1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.product__descr2 {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.product__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.product__btn {
  white-space: nowrap;
  padding: 17px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.about-us__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

.about-us__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.about-us__descr.first-descr {
  margin-bottom: 8px;
  font-weight: 700;
}

.about-us__right-body {
  display: none;
}

.swiper__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.swiper__descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.swiper__img {
  margin-bottom: 12px;
}

.footer__left-body {
  margin-bottom: 57px;
}

.footer__container {
  padding-bottom: 10px;
}

.footer__nav {
  column-count: 2;
  
}

}


@media (max-width: 320px) {

  .footer__right-body {
    width: 320px;
    background-color: #121723;
    padding: 30px 32px ;
  }
}