@media (max-width: 1140px) {

  .header__logo {
    display: none;
  }

  .header__logo-top {
    margin-left: 15px;
    display: flex;
    padding: 23px 0;
  }
  .header__img {
    background-color: #F2F2F2;;
  }

  .header::before {
    top: 140px;
  }

  .nav__item:last-child {
    margin-right: 37px;
  }

  .bottom-menu__item:not(:last-child) {
    padding: 22px 0;
    margin-right: 30px;
  }

  .bottom-menu__item:nth-child(7) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
}

  .bottom-menu__item:last-child {
    margin-right: 0;
  }

  .bottom-menu__item:nth-child(8) {
    padding-right: 11px;
}

  .bottom-menu__img {
    display: none;
  }

  .hero__descr {
    padding-right: 0;
  }

  .broadcasts__item:not(:nth-child(2n)) {
    margin-right: var(--gap);
  }

  .broadcasts__item:nth-child(2n) {
    margin-right: 0;
  }

  .guests__left {
    max-width: 536px;
  }

  .guests__descr-bottom {
    padding-right: 285px;
  }

  .guests__img {
    max-width: 255px;
  }

  .playlists__container {
    flex-direction: column;
  }

  .playlists__left-body {
    max-width: 100%;
  }

  .check {
    max-width: 600px;
    column-count: 2;
  }

  .check__container {
    white-space: nowrap;
    max-width: fit-content;
    justify-content: flex-start;
  }

  .left-body__text {
    display: none;
  }

  .bottom-text {
    display: block;
  }

  .playlists__flag {
    left: 0;
  }
  
  .playlists__item {
    width: calc((100% - var(--gap) * 2) / 3);
  }

  .playlists__item:not(:nth-child(3n)) {
    margin-right: var(--gap);
  }

  .playlists__item:nth-child(3n) {
    margin-right: 0;
  }

  .playlists__link {
    display: flex;
  }

  .playlists__text {
    min-width: 143px;
  }

  .product {
    padding-bottom: 94px;
  }

  .product__img {
    max-width: 397px;
  }

  .product__logo {
    max-width: 100px;
    top: 100px;
  }

  .about-us__first-svg {
    display: none;
  }

  .swiper__img {
    width: 100%;
  }
}

@media (max-width: 854px) {

  .header__nav .nav__list{
    display: grid;
    grid-template-columns: repeat(2, 125px);
}

.header__nav {
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 120px 71px 83px 61px;
    width: 100%;
    min-width: 420px;
    height: 100vh;
    background-color: #F2F2F2;
    z-index: 1000;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.header__nav--active {
  background: url(../img/burger-spiral.svg) repeat 55px, url(../img/burger-spiral.svg) repeat, #F2F2F2;
  background-repeat: no-repeat;
  background-position-x: 300px, 430px;
  background-position-y: 166px, 0px;
  visibility: visible;
  transform: none;
}

.stop-scroll {
    overflow: hidden;
}

.nav__item:not(:last-child) {
    margin: 0;
    margin-bottom: 64px;
}

  .header__top {
    padding: 20px 0;
  }

  .hero__right {
    display: none;
  }

  .bottom-menu__item:not(:last-child) {
    margin-right: 28px;
}

  .bottom-menu__item:nth-child(6) {
    margin-right: 24px;
  }
  
  .bottom-menu__item:nth-child(7) {
    display: none;
  }

  .bottom-menu__item:nth-child(8) {
    display: none;
  }

  .bottom-menu__play svg{
    fill: #A1A6B4;
  }

  .bottom-menu__play path{
    fill: #fff;
  }



  .burger {
    position: relative;
    width: 30px;
    height: 24px;
    margin-right: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.burger__line {
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: #6D31EE;
    left: 0;
}

.burger:focus-visible:not(:active) {
    outline: 2px solid #6D31EE;
    outline-offset: 3px;
}

.burger:hover .burger__line {
    background-color: #6D31EE;
    outline: none;
}

.burger:active .burger__line {
    background-color: #6D31EE;
    outline: none;
}

.burger__line:nth-child(1) {
    top: 0px;
}

.burger__line:nth-child(3) {
    bottom: 0;
}

.burger__line:nth-child(2) {
    top: 10.5px;
}

.burger--active {
    z-index: 11111111;
}

.burger--active .burger__line:nth-child(2) {
    opacity: 0;
}

.burger--active .burger__line:nth-child(1) {
    top: 50%;
    left: 0;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active .burger__line:nth-child(3) {
    bottom: auto;
    top: 50%;
    left: 0;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
}

.podcasts__item {
  width: 100%;
}

.podcasts__item:not(:nth-child(2n)) {
  margin-right: 0;
}

.broadcasts__container {
  display: block;
}

.broadcasts__author {
  margin-bottom: 0;
}

.broadcasts__archive {
  display: none;
}

.broadcasts__archive-bottom {
  max-width: 325px;
  display: flex;
  margin: 0 auto;
}

.broadcasts__archive-wrapper {
  display: flex;
  flex-direction: column;
}

.guests__bio {
  flex-direction: column;
}

.guests__list {
  margin-bottom: 50px;
}

.check {
  max-width: 350px;
}

.playlists__item {
  width: calc((100% - var(--gap)) / 2);
}

.playlists__item:not(:nth-child(2n)) {
  margin-right: var(--gap);
}

.playlists__item:nth-child(2n) {
  margin-right: 0;
}

.playlists__link::after {
  top: 28px;
  left: 28px;
}

.playlists__img {
  height: 100%;
}

.product__container {
  flex-direction: column;
}

.product__img {
  max-width: 100%;
}

.product__line {
  width: 100%;
}

.about-us__top {
  flex-direction: column;
}

.about-us__right-body {
  position: relative;
  justify-content: flex-end;
}

.about-us__spiral {
  position: absolute;
  left: -112px;
  background-image: url(../img/about-us-spiral-540.svg);
  background-repeat: no-repeat;
  height: 112px;
  width: 100%;
}

.about-us__second-svg {
  background-image: url(../img/star-540.svg);
  max-width: 112px;
  min-height: 112px;
  background-size: cover;
}

.about-us__inputs {
  flex-direction: column;
}

.about-us__input {
  width: 100%;
}

.footer__container {
  flex-direction: column;
  align-items: center;
}

.footer__left-body {
  align-items: center;
  margin-bottom: 83px;
}

.footer__descr {
  padding: 10px 0;
}

}

@media (max-width: 570px) {
  .header__logo-top {
    max-width: 87px;
  }

  .login__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 9.5px 24px;
  }

  .header__top {
    padding: 13px 0;
  }

  .searchbar__icon {
    margin-right: 0;
  }

  .header__bottom {
    padding: 15px 0;
  }

  .header::before {
    top: 113px;
  }

  .header__ac {
    margin: 0 auto;
    display: block;
  }

  .header__nav {
    padding-top: 120px;
    padding-left: 30px;
    min-width: 100%;
  }

  .nav__list {
    padding: 0;
  }

  .nav__item:not(:last-child) {
    margin: 0;
    margin-bottom: 40px;
}

  .bottom-menu__list {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 120px);
    background-color: white;
    width: 100%;
    height: 50vh;
    z-index: 10000;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    left: 0px;
    top: 300px;
    visibility: hidden;
    overflow-y: auto;
    transform: translateX(-120%);
    transition: transform 0.3s ease-in-out;
  }

  .bottom-menu__play {
    display: none;
  }

  .bottom-menu__list--active {
    transform: none;
    visibility: visible;
  }

  .content {
    height: 0px;
    overflow: hidden;
    color: #000000;
  }
  
  .header__ac-content {
    display: flex;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    transition-delay: 0.3s;
  }

  .bottom-menu__item:not(:last-child) {
    margin-right: 0;
  }
  
  .is-active .header__ac-content {
    cursor: default;
    opacity: 1;
    visibility: visible;
  }

  .is-active svg {
    transform: none; 
}

.section-offset {
  padding: 54px 0;
}

.hero__title {
  font-size: 32px;
  margin-bottom: 8px;
}

.hero__descr {
  margin: 0;
  font-size: 14px;
  margin-bottom: 20px;
}

.hero__btn {
  max-width: 200px;
  padding: 17px 45px;
  font-size: 16px;
  line-height: 16px;
}

:root {
  --gap: 24px;
}

.podcasts__title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 100%;
}

.podcasts__item {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.podcasts__item:nth-child(n+5) {
  display: none;
}

.podcasts__item-visible {
  display: flex;
}

.podcasts__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.podcasts__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.podcasts__top {
  padding: 16px;
}

.podcasts__date {
  top: 0; 
  left: 0;
  height: 16px;
}

.podcasts__bottom {
  padding: 6px 17px;
}

.podcasts__btn {
  min-width: 170px;
  padding: 17px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.podcasts__list {
  margin-bottom: 30px;
}

.broadcasts__title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 100%;
}

.broadcasts__form label {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.broadcasts__list {
  margin-bottom: 30px;
}

.broadcasts__item {
  margin-bottom: 0;
  max-width: 113px;
}

.broadcasts__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.broadcasts__name {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

.broadcasts__descr {
  margin-bottom: auto;
  font-weight: 400;
  font-size: 9px;
  line-height: 9px;
}

.broadcasts__link {
  position: absolute;
  bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.broadcasts__text {
  position: relative;
  height: 100px;
  padding: 10px;
}

.broadcasts__btn-descr {
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.broadcasts__btn {
  max-width: 110px;
  padding: 9.5px 31px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.broadcasts__archive-wrapper {
  flex-direction: column-reverse;
}

.broadcasts__mic {
  margin-right: 13px;
}

.guests__title {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

.guests__descr-top {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}
}
