html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'),
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
    url('../fonts/OpenSansRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Light'),
    url('../fonts/OpenSansLight.woff2') format('woff2'),
    url('../fonts/OpenSansLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'),
    url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
    url('../fonts/OpenSansSemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

/* glob */

:root {
  --gap: 30px;
  --white: #fff;
  --primary: #6D31EE;
  --primary_shade: #4F28A5;
  --primary_light:#AA9DFA;
  --light_color:#E6E8EC;
  --text_gray: #A1A6B4;
  --shade_gray: #D2D5DD;
  --light_color_40: rgba(230, 232, 236, 0.4);
  --black: #121723;
  --light_black: #292E39;
  --red:#FF6F6F;
  --promo_color:#F0D288;
  --promo_color_shade: #BB973E;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-offset {
  padding: 94px 0;
}

/*Header*/

.header__top {
  align-items: center;
}

.nav__list {
  padding: 30px 0;
}

.nav-link {
  padding: 0;
  color: var(--black);
}

.header__logo {
  margin-right: auto;
}

.nav__item:not(:last-child) {
  margin-right: 57.75px;
}

.nav__item:last-child {
  margin-right: 83px;
}

.searchbar__icon {
  margin-right: 27px;
}

.bottom-menu__item:not(:last-child) {
  margin-right: 52px;
}

.bottom-menu__item:last-child {
  margin-right: 95px;
}

/*Hero*/


.hero__title {
  margin: 0;
  margin-bottom: 14px; 
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: #121723;
}

.hero__title span {
  font-style: italic;
  font-weight: normal;
}

.hero__descr {
  margin-bottom: 45px;
  padding-right: 121px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #121723;
}

.hero__btn {
  padding: 25px 54px;
  border-radius: 40px;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
.hero__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__img {
  max-width: 350px;
  padding-top: 30px;
  padding-bottom: 40px;

}

/*Podcasts*/

.podcasts {
  background-color: #E6E8Ec;
}

.podcasts__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.podcasts__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;  
  color: #121723;
}

.podcasts__item {
  width: calc((100% - 30px) / 2);
  background-color: #fff;
  margin-bottom: 30px;
}
.podcasts__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.podcasts__list {
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.podcasts__top {
  justify-content: space-between;
  padding: 24px 33px 24px 30px;
  margin-right: auto;
}

.podcasts__content {
  width: 100%;
  flex-direction: column;
}

.podcasts__text {
  display: flex;
  flex-direction: column;
}

.podcasts__time {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #121723;
}

.podcasts__subtitle {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #121723;

}

.podcasts__name {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #A1A6B4;

}

.podcasts__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.podcasts__bottom {
  border-top: 1px solid #E6E8Ec;
  padding: 9px 30px;
  align-items: center;
}

.pdcst-btn {
  margin-right: 6px;
}

.pdcst-btn svg {
  vertical-align: 0;
}

.podcasts-count {
  margin-right: 30px;
  color: #a1a6b4;
  font-size: 16px;
  line-height: 16px;
}

.podcasts__played {
  align-items: center;
}

.podcasts__liked {
  align-items: center;
}

.podcasts__shared {
  align-items: center;
}

.podcasts__btn {
  max-width: 246px;
  padding: 25px 54px;
  border-radius: 40px;
  border: 2px solid #6D31EE;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #6D31EE;
}

/*broadcasts*/

.broadcasts__title {
  margin: 0;
  margin-bottom: 12px; 
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--black);
}

.broadcasts__list {
  flex-wrap: wrap;
}

.broadcasts__form {
  flex-direction: column;
}

.broadcasts__form label {
  color: var(--text_gray);
  margin-bottom: 8px;
}

.broadcasts__mic {
  width: 65px;
  height: 89px;
  margin-bottom: 24px;
}

.broadcasts__btn {
  margin-bottom: 12px;
  max-width: 160px;
  padding: 12px 56px;
  border-radius: 77px;
  border:  2px solid var(--black);;
}

.broadcasts__btn-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text_gray);
}

.broadcasts__item {
  width: calc((100% - var(--gap) * 3 ) / 4);
  flex-direction: column;
  margin-bottom: var(--gap);
}

.broadcasts__descr {
  font-weight: 400;
font-size: 12px;
line-height: 12px;
color: var(--text_gray);
}

.choices__list .is-selected {
  display: none;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.choices__inner {
  border: none;
  border-radius: 10px;
  padding: 12px 15px 12px 12px;
  background-color: var(--light_color);
  color: var(--black);
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 12px;
}

.choices__placeholder {
  color: var(--black);
  opacity: 1;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  color: var(--text_gray);
}

.choices__item:not(:last-child) {
  border-bottom: 1px solid var(--shade_gray);
}

.broadcasts__item:not(:nth-child(4n)) {
  margin-right: var(--gap);
}

.broadcasts__text {
  padding: 20px 16px;
  border: 1px solid #E6E8EC;
}

.broadcasts__name {
  margin: 0;
  margin-bottom: 4px;
}

.broadcasts__descr {
  margin: 0;
  margin-bottom: 20px;
}

/* GUests */

.guests {
  background-color: var(--black);
}

.guests__left {
  margin-right: var(--gap);
}

.guests__descr-top {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--text_gray)
}

.guests__descr-bottom {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--text_gray);
}

.guests__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--white);
}

.hide-text {
  column-count: 4;
  column-gap: var(--gap);
}


.content {
  height: 0px;
  overflow: hidden;
  color: #000000;
}

.content-wrap {
  padding: 30px 0;
  width: 57%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  transition-delay: 0.3s;
}

.is-active .content-wrap {
  opacity: 1;
  visibility: visible;
}


.hide-text {
  margin-top: 0;
  line-height: 32px;
}

.guests__item {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--text_gray);
  transition: border-color 0.3s ease-in-out;
}

.guests__item:last-child {
  border-bottom: 1px solid var(--text_gray);
}

.guests__link {
  text-align: start;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
  transition: color 0.3s ease-in-out;
}

.is-active .guests__top {
  border-bottom: 1px solid var(--primary_light);
}

.guests__link br {
  display: none;
}

.guests-svg {
  transition: transform 0.3s ease-in-out;
}

.guests-svg ellipse{
  fill: #CACACA;
  transition: fill 0.3s ease-in-out;
}

.guests__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 0;
  color: var(--color-000);
  transition: color 0.3s ease-in-out;
}

.guests-svg path {
  fill: black;
  transition: fill 0.3s ease-in-out;
}

.guests__item:focus-within:not(:active) .guests-svg ellipse {
  fill: var(--btn-color);
}

.guests__item:hover:not(:active) .guests-svg ellipse {
  fill: var(--btn-color);
}

.guests__item:active .guests-svg {
  transform: rotate(45deg);
}

.guests__item:active .guests__top:active svg,
.is-active svg {
  transform: rotate(45deg);
}

.content .ac-panel {
  height: 100%;
}

.content-wrap {
  width: 100%;
}

.guests__item:focus-within:not(:active) .guests-svg path {
  fill: #FFFFFF;
}

.guests__item:hover:not(:active) .guests-svg path  {
  fill: #FFFFFF;
}

.guests__item:focus-visible {
  outline: none;
}

.guests__top:focus-visible {
  outline: none;
}

.guests__top:focus .guests__link {
  color: var(--white);
}

.guests__item:hover .guests__link {
  color: var(--primary_light);
}

.guests__item:active .guests__link {
  color: #000000;
}

.guests__item:focus-within, .guests__item:focus-within + .guests__item {
  border-top-color: var(--primary_light); 
}

.guests__item:hover, .guests__item:hover + .guests__item {
  border-top-color: var(--primary_light);
}

.guests__item:active, .guests__item:active + .guests__item {
  border-top-color: #CACACA;
}

.guests__item:last-child:focus-within {
  border-color: var(--btn-color);
}

.guests__item:last-child:hover {
  border-color: var(--primary_light);
}

.guests__bio-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
}

.guests__right {
  flex-direction: column;
  min-width: 350px;
}

.guests__img {
  margin-bottom: 14px;
}

.social__list {
  margin-bottom: 12px;
}

.social__item:not(:last-child) {
  margin-right: var(--gap);
}

.guests__name {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
}

.guests__about {
  margin: 0;
  margin-bottom: var(--gap);
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: var(--text_gray);
}

.guests__btn {
  padding: 12px 19.5px;
  border: 2px solid var(--primary_light);
  color: var(--primary_light);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border-radius: 77px;
}